.editor-group-watermark>.letterpress {
    background-image: url("https://raw.githubusercontent.com/Aikoyori/ProgrammingVTuberLogos/main/VSCode/VSCode-Thick.png") !important;
    opacity: 0.75;
    overflow: visible;
    filter: grayscale(0.9);
    transform: scale(1.5, 1.5);
}
